<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="#">
        <title>NONAME APP</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    NAV-BAR
                </div>
                <div class="col-md-8">
                    <h1>NONAME APP</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    POSTS
                </div>
            </div>
        </div>
    </body>
</html>
